<h5><%= @project.name %></h5>
<p><%= @project.description %></p>

<%= form_with(scope: :task, url: tasks_path, local: true, class: 'mb-5') do |f| %>
  <%= f.text_field :name %>

  <%= f.hidden_field :project_id, value: @project.id %>

  <%= f.submit 'タスクを作成', class: 'btn btn-outline-info' %>
<% end %>

<% if @tasks.any? %>
  <% @tasks.each do |task| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= task.name %></h5>
        <%= link_to '削除', task_path(task.id), method: :delete, class: 'card-link' %>
      </div>
    </div>
  <% end %>
<% end %>
